html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  /* background-size:contain */
  background: url('../pages/pic/banner1.jpg') no-repeat;
  background-position-x: center;
  background-position-y: 10px;
  background-color: rgb(20, 20, 20);

}

.bgc{
  /* width: 1900px; */
  height: 100%;
  background-color: #fff;
  
}

div{
  text-align: center;
}

h1{
  color: rgb(218, 218, 218);
}

p{
  color: #cccccc;
}